.banner {
  visibility: hidden;
}

@media only screen and (max-width: 480px) { //iphone width
  .banner {
    position: sticky;
    bottom: 0;
    background-color: #25303d;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    visibility: visible;
    
    .buy-button {
      float: right;
      width: 50%;
    }

    #mobileQuantitySelection {
      float: left;

    }

  }

  .hide {
    visibility: hidden;
  }
}